<a href="https://colab.research.google.com/github/georgeazen/NYS_Car_Crashes/blob/main/Car_Crashes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
df = pd.read_csv('gdrive/My Drive/Motor_Vehicle_Crashes_-_Case_Information__Three_Year_Window.csv')

In [5]:

print(df['Crash Descriptor'].unique())

['Property Damage Accident' 'Property Damage & Injury Accident'
 'Injury Accident' 'Fatal Accident']

In [7]:
df['fatal']=np.where(df['Crash Descriptor'] == 'Fatal Accident', True, False)

In [13]:
df['fatal'].value_counts(normalize = True)

False    0.998
True     0.002
Name: fatal, dtype: float64

In [8]:
df.head()

   Year                   Crash Descriptor  ... Number of Vehicles Involved  fatal
0  2019           Property Damage Accident  ...                           1  False
1  2019           Property Damage Accident  ...                           2  False
2  2019           Property Damage Accident  ...                           2  False
3  2019  Property Damage & Injury Accident  ...                           2  False
4  2019  Property Damage & Injury Accident  ...                           2  False

[5 rows x 19 columns]

In [ ]:
specs =[
 'Crash Descriptor',
 'Day of Week',
 'Police Report',
 'Lighting Conditions',
 'Municipality',
 'Collision Type Descriptor',
 'County Name',
 'Road Descriptor',
 'Weather Conditions',
 'Traffic Control Device',
 'Road Surface Conditions',
 'DOT Reference Marker Location',
 'Pedestrian Bicyclist Action',
 'Event Descriptor',
 'Number of Vehicles Involved']

In [ ]:
for i in specs:
  print(df[i].unique())

['Property Damage Accident' 'Property Damage & Injury Accident'
 'Injury Accident' 'Fatal Accident']
['Tuesday' 'Monday' 'Sunday' 'Saturday' 'Friday' 'Thursday' 'Wednesday']
['Y' 'N']
['Dark-Road Unlighted' 'Daylight' 'Dark-Road Lighted' 'Unknown' 'Dusk'
 'Dawn']
['MIDDLESEX' 'LE RAY' 'HEMPSTEAD' ... 'PROSPECT' 'LIMESTONE' 'OIL SPRING']
['OTHER' 'SIDESWIPE' 'OVERTAKING' 'RIGHT ANGLE' 'REAR END' 'Unknown'
 'HEAD ON' 'LEFT TURN (3)' 'LEFT TURN (0)' 'RIGHT TURN (6)'
 'RIGHT TURN (5)']
['YATES' 'JEFFERSON' 'NASSAU' 'SUFFOLK' 'ORANGE' 'NIAGARA' 'WESTCHESTER'
 'TOMPKINS' 'CHEMUNG' 'SARATOGA' 'QUEENS' 'ERIE' 'CHAUTAUQUA' 'COLUMBIA'
 'ONONDAGA' 'WARREN' 'BROOME' 'KINGS' 'MONROE' 'GREENE' 'WYOMING' 'CAYUGA'
 'ST. LAWRENCE' 'HERKIMER' 'RENSSELAER' 'MADISON' 'ONEIDA' 'SCHENECTADY'
 'MONTGOMERY' 'ALLEGANY' 'WASHINGTON' 'DUTCHESS' 'BRONX' 'HAMILTON'
 'ROCKLAND' 'RICHMOND' 'NEW YORK' 'CATTARAUGUS' 'ULSTER' 'PUTNAM'
 'ONTARIO' 'SULLIVAN' 'CHENANGO' 'LEWIS' 'OSWEGO' 'ALBANY' 'FRANKLIN'
 'LIVINGSTON' 'TIOGA' 'OTSEGO' 'DELAWARE' 'GENESEE' 'CORTLAND' 'FULTON'
 'ESSEX' 'SENECA' 'CLINTON' 'SCHUYLER' 'SCHOHARIE' 'WAYNE' 'STEUBEN'
 'ORLEANS' 'UNKNOWN']
['Straight and Level' 'Curve and Grade' 'Straight and Grade'
 'Curve and Level' 'Unknown' 'Curve at Hill Crest'
 'Straight at Hill Crest']
['Snow' 'Cloudy' 'Rain' 'Clear' 'Unknown' 'Sleet/Hail/Freezing Rain'
 'Fog/Smog/Smoke' 'Other*']
['None' 'Traffic Signal' 'Stop Sign' 'No Passing Zone' 'Unknown'
 'School Zone' 'Yield Sign' 'Other' 'Flashing Light'
 'Police/Fire Emergency' 'Construction Work Area' 'Utility Work Area'
 'RR Crossing Gates' 'Officer/Guard' 'RR Crossing Sign'
 'Stopped School Bus-Red Lights Flashing' 'Not Applicable'
 'RR Crossing Flashing Light' 'Maintenance Work Area']
['Wet' 'Snow/Ice' 'Dry' 'Unknown' 'Slush' 'Muddy' 'Other' 'Flooded Water']
['364 66011104' '26 73071094' nan ... '39 42061134' '79 91011116'
 '88I94063000']
['Not Applicable' 'Crossing, No Signal or Crosswalk'
 'Getting On/Off Vehicle Other than School Bus'
 'Emerging from in Front of/Behind Parked Vehicle'
 'Riding/Walking/Skating Along Highway With Traffic' 'Unknown'
 'Crossing, Against Signal' 'Other Actions in Roadway'
 'Crossing, With Signal' 'Crossing, No Signal, Marked Crosswalk'
 'Playing in Roadway' 'Working in Roadway' 'Not in Roadway (Indicate)'
 'Riding/Walking/Skating Along Highway Against Traffic'
 'Going to/From Stopped School Bus' 'Pushing/Working On Car']
['Deer' 'Other Motor Vehicle, Collision With'
 'Guide Rail - Not At End, Collision With Fixed Object'
 'Guide Rail - End, Collision With Fixed Object'
 'Building/Wall, Collision With Fixed Object'
 'Tree, Collision With Fixed Object'
 'Other Object (Not Fixed)*, Collision With'
 'Light Support/Utility Pole, Collision With Fixed Object'
 'Other Fixed Object*, Collision With Fixed Object'
 'Sign Post, Collision With Fixed Object'
 'Earth Embankment/Rock Cut/Ditch, Collision With Fixed Object'
 'Snow Embankment, Collision With Fixed Object' 'Other*, Non-Collision'
 'Curbing, Collision With Fixed Object' 'Pedestrian, Collision With'
 'Animal, Collision With' 'Bridge Structure, Collision With Fixed Object'
 'Bicyclist, Collision With'
 'Median - Not At End, Collision With Fixed Object'
 'Culver/Head Wall, Collision With Fixed Object'
 'Barrier, Collision With Fixed Object'
 'Fence, Collision With Fixed Object'
 'Fire Hydrant, Collision With Fixed Object'
 'Ran Off Roadway Only, Non-Collision' 'Overturned, Non-Collision'
 'Other Pedestrian' 'Median - End, Collision With Fixed Object'
 'Fire/Explosion, Non-Collision'
 'Crash Cushion, Collision With Fixed Object' 'Submersion, Non-Collision'
 'Railroad Train, Collision With' 'In-Line Skater, Collision With']
[ 1  2  3  4  5  6 10  8  7 14 12  9 11 19 15 13 21]

In [ ]:
for col in df:
  print(col)

Year
Crash Descriptor
Time
Date
Day of Week
Police Report
Lighting Conditions
Municipality
Collision Type Descriptor
County Name
Road Descriptor
Weather Conditions
Traffic Control Device
Road Surface Conditions
DOT Reference Marker Location
Pedestrian Bicyclist Action
Event Descriptor
Number of Vehicles Involved

In [ ]:
df1 = pd.DataFrame({'team': ['A', 'A', 'A', 'B', 'B', 'C'],
                   'conference': ['East', 'East', 'East', 'West', 'West', 'East'],
                   'points': [11, 8, 10, 6, 6, 5]})

In [ ]:
df1

  team conference  points
0    A       East      11
1    A       East       8
2    A       East      10
3    B       West       6
4    B       West       6
5    C       East       5

In [ ]:
3
import pandas as pd
4
my_crosstab = pd.crosstab(index=df1["conference"], 
                            columns=df1["team"],
                             margins=False)   # Include row and column totals
7
my_crosstab

team        A  B  C
conference
East        3  0  1
West        0  2  0